.dashboard-container {
    padding: 20px;
}

.dashboard-header {
    margin-bottom: 20px;
}

.dashboard-main {
    margin-top: 20px;
}

.dashboard-info {
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    margin-right: 10px;
}

.search-button {
    padding: 10px;
    width:200px;
    align-items: center;
    justify-content:center;
}

.search-button:hover {
    background-color: rgb(185, 116, 116);
    color:rgb(16, 11, 11);
}

.logout-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width:200px;
}

.logout-button:hover {
    background-color: #c9302c;
 
}

