.transport-log-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

thead{
    background-color:rgb(198, 198, 118);
    color:black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.details-container {
    margin-top: 20px;
}

.details-container h2 {
    margin-bottom: 10px;
    color: #555;
}

.details-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.details-container th, .details-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.details-container th {
    background-color: #f2f2f2;
    color: #333;
}

.details-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.details-container tbody tr:hover {
    background-color: #f1f1f1;
}
