body {
  background-color: wheat;
  background-size: cover; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Don't repeat the image */
  background-attachment: fixed; /* Fixed position during scroll */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Example font family */
  height: 100vh; /* Set height to full viewport */
}



  .card-body {
    background-color: transparent;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .card {
    background: transparent;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 900px;
    display: flex;
    overflow: hidden;
  }
  
  
  .form-container {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .form-content {
    background: transparent;
    flex: 1;
  }
  
  .image-container {
    background-color: transparent;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    border-radius: 25px;
  }
  
  .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkbox-container {
    display: flex;
    margin:10px 10px 10px 10px;
    margin-top: 10px;
  }
  
  .checkbox-container input {

    margin-top: 10px; /* Adjust the alignment */
    transform: scale(0.8); /* Reduce the size of the checkbox */
  }

  
  .btn {
    display: block;
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left:80px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  